* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: white;
}

body {
  background-image: url(../images/paradox.jpg);
  background-repeat: no-repeat;
  background-color: black;
  zoom: 0.8;
}

.header {
  width: 1200px;
  height: 30px;
  background-color: rgba(132, 123, 132, 0.5);
  margin: 0 auto;
  margin-top: 10px;
}

.header .logo {
  float: left;
  /* margin-left: 10px; */
  width: 30px;
  height: 30px;
}

.header .reg {
  /* width: 100px; */
  float: right;
  height: 20px;
  margin: 5px 5px 20px 0;
  /* background-color: rgb(221, 0, 0); */
}

.header .reg ul li {
  float: left;
  margin-left: 10px;
  height: 20px;
  line-height: 20px;
}

html {
  scroll-behavior: smooth;
}

.header .reg ul li a {
  color: black;
}

hr {
  border: 0;
}

.nav {
  position: fixed;
  top: 35%;
  margin-left: 20px;
  background-color: rgb(20, 31, 53);
  width: 50px;
  height: 300px;
}

.nav_li {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.nav_li>a {
  cursor: pointer;
  color: white;
}



.nav li:hover {
  transform: scale(1.2);

}
.av{
  transition: all 0.4s;
}
.nav {
  overflow: hidden;
}



h1 {
  margin: 10px 0px;
  font-family: sans-serif;
}

h2 {
  display: block;
  margin-top: 30px;
  margin-bottom: 0;
  font-family: sans-serif;
  font-size: 50px;
}

h3 {
  text-align: center;
}

p {
  font-size: 16px;
}

.broad {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  height: auto;
  /* background-color: green; */
}

.line {
  width: 1200px;
  margin: 0 auto;
}

.title {
  width: 1200px;
  display: inline-block;
}

.content {
  /* overflow:auto; */
  box-sizing: border-box;
  overflow: hidden;
  float: left;
  width: 340px;
  height: 340px;
  margin: 30px 0px;
  margin-right: 90px;
  /* background-color: antiquewhite; */
  font-family: sans-serif;
  font-size: 18px;
  transition: width 1s;
  /* overflow: scroll; */
}

.content:nth-child(3n+3) {
  margin-right: 0;
}


.content:hover {
  border: 2px solid red;
}

.content img {
  /* float: left; */
  width: 340px;
  transition: width 1s;
}

.content img:hover {
  width: 400px;
  margin: 30px 0;
}

/* .line:hover {
  height: 700px;
} */